{% extends 'base.html' %}
<!-- {% block activa %}active{% endblock %} -->
{% block title %}AboutUs{% endblock %}
{% block content %}
      <div class="about">
         <div class="container">
            {% for i in abo0 %}
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img src="{{ i.img.url }}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>{{ i.tag }}</h2>
                     <p>{{ i.txt }}</p>
                  </div>
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      <!-- about section -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Location</li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +01 1234567890</li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> demo@gmail.com</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      {% endblock %}